@charset "UTF-8";

/* these are link styles */

/* unvisited link */
a:link {
    color: #b31b1b;
}

/* visited link */
a:visited {
    color: #b31b1b;
}

/* mouse over link */
a:hover {
    color: #cc1b1b;
}

/* selected link */
a:active {
    color: #cc661b;
}

/* css for the buttons, login and signup*/

/*  The Egregious Dividing Line  */

/*  THESE ARE FOR THE LOGIN FORM  */

/* Full-width input fields */
input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
	/*    background-color: #4CAF50;*/
	/*    color: white;*/
	padding: 0px;
	margin: 0px;
	background: transparent;
	border: none;
	cursor: pointer;
	width: 100%;
}

/*
button:hover {
    background-color: #b31b1b;
}
*/

.dlbtn {
  color: #eeeeee;
  width: 80%;
  border: none;
  border-radius: 8px;
  margin-top: 10;
  margin-bottom: 6;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 16px;
	padding: 8px;
	background-color: #b31b1b;
}

/* Extra styles for the cancel button */
.cancelbtn {
	width: auto;
	color: white;
	padding: 10px 18px;
	background-color: #A6A5A5;
}

.loginbtn {
	/*    width: auto;*/
	font-size: 20px;
	padding: 10px 18px;
	background-color: #b31b1b;
}

/* Center the image and position the close button */
.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
}

/*
img.avatar {
    width: 40%;
    border-radius: 50%;
}
*/

.logincontainer {
    padding: 20px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and canc
el button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

/*  The Egregious Dividing Line  */

/*  THESE ARE FOR THE SIGNUP FORM  */

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.signupbtn {
	font-size: 20px;
    padding: 10px 18px;
	background-color: #b31b1b;
	float: left;
	width: 75%;
}

.signupcancelbtn {
	font-size: 20px;
    padding: 10px 18px;
	background-color: #A6A5A5;
	float: right;
	width: 10%;
}

/*  THESE ARE FOR THE DROPDOWN MENUS  */

.dropbtn {
	background-color: transparent;
	white-space: nowrap;
	/*    color: white;*/
	padding: 5px 14px 5px 14px;
		margin: 0px 10px 0px 0px;
	font-size: 22px;
	/*	cursor: url(https://i.imgur.com/9MzbeGO.png), auto; */
	border: none;

}

.btn {
	background-color: transparent;
	white-space: nowrap;
	/*    color: white;*/
	padding: 5px 14px 5px 14px;
	margin: 0px 10px 0px 0px;
	font-size: 22px;
	/*	cursor: pointer;*/
	cursor: url(https://i.imgur.com/MeuMCfR.png), auto;
	border: none;
}

/* The container <div> - needed to position the
dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 15px 0px 15px 20px;
    text-decoration: none;
    display: block;
	cursor: url(https://i.imgur.com/MeuMCfR.png), auto;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the
dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #b31b1b; }
.dropdown:hover .btn {background-color: #b31b1b;}

/* Cursors */
.pointer {cursor: url(https://i.imgur.com/MeuMCfR.png), auto;}


/* these is the page style sheet*/
.container {
	background-color: #f4f4f4;
	width: 100%;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 0px;
}

.logo {
	width: 50%;
	background-color: transparent;
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
}

.header {
	width: 100%;
	background-image: url("images/header_bg.png");
}

.quick_links {
  width: 100%
  background-image: url("images/header_bg.png");
}

.row_dropdown {
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	display: inline-block;
}

.row_new {
	width: auto;
	margin: 100 0 0 0;
	padding: 0 0 0 65;
	/* display: inline-block; */
}

.row {
	width: auto;
  /* background-color: : transparent; */
  font-size: 20px;
  line-height: 1.6;
  font-family: sans-serif;
  color: #313131;
	margin: 30 0 0 0;
	padding: 0 0 0 60;
	/* display: inline-block; */
}

.quarter {
  width: 25%;
  padding: 0 0 0 0;
  margin: 0;
  float: left;
  color: #b31b1b;
  font-size: 17px;
}

.icon {
  padding: 0 0 0 0;
}

.banner {
	width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border-style: solid;
  border-width: 0 0 3 0;
	display: inline-block;
}

.row_header {
  margin: 0 0 0 20;
  padding: 0 0 0 20;
  background-color: : transparent;
  font-size: 45px;
  color: #b31b1b;
}

.sticky {
	background-color: #f4f4f4;
	border-style: solid;
	border-width: 3px 0px 3px 0px;
	position: -webkit-sticky;
	position: sticky;
	top: -1;
}

.fancy_bullet {
  width: auto;
  float: left;
  background-color: transparent;
  margin: 0px 20px 0px 0px;
  padding: 0 0 0 0;
}

/* __________________________ */
.row.blockDisplay {
	display: block;
}
.column_half {
	width: 50%;
	float: left;
	margin-top: 0px;
}
.columns {
	width: 18%;
	float: left;
	font-family: "Source Sans Pro";
	color: #313131;
  font-size: 16px;
	line-height: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	/* text-align: justify; */
	margin-top: 25px;
	margin-bottom: 25px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 25px;
	margin-right: 25px;
  border-color: #959595;
  border-style: solid;
  border-width: 1;
  border-radius: 25px;
}

.row .columns p {
	padding-left: 10%;
	padding-right: 10%;
  margin-top: 4;
  margin-bottom: 5;
}
.container .columns h4 {
	text-align: center;
  margin-top: 10;
  margin-bottom: 15;
	color: #313131;
}
/* primary_header
.primary_header {
	width: 100%;
	background-color: #52bad5;
	padding-top: 10px;
	padding-bottom: 10px;
	clear: left;
	border-bottom: 2px solid #2C9AB7;
} */
.primary_header {
	width: 100%;
	background-color: transparent
	padding-top: 10px;
	padding-bottom: 10px;
	/* clear: left;
	border-bottom: 2px solid #2C9AB7; */
}

/* .secondary_header {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #B3B3B3;
	clear: left;
} */

.secondary_header {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: transparent;
	clear: left;
}

.container .secondary_header ul {
	margin-top: 0%;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
	width: 100%;
}
.secondary_header ul li {
	list-style: none;
	float: left;
	margin-right: auto;
	margin-top: 0px;
	font-family: "Source Sans Pro";
	font-weight: normal;
	color: #FFFFFF;
	letter-spacing: 1px;
	margin-left: auto;
	text-align: center;
	width: 16%;
	transition: all 0.3s linear;
}
.secondary_header ul li:hover {
	color: #717070;
	cursor: pointer;
}
.left_article {
	background-color: #FFFFFF;
	width: 60%;
	float: left;
	font-family: "Source Sans Pro";
	color: #343434;
	padding-bottom: 15px;
}
.noDisplay {
	display: none;
}
.container .left_article h3 {
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 5%;
	color: #717070;
	font-weight: bold;
	text-transform: uppercase;
}
.container .left_article p {
	padding-left: 5%;
	padding-right: 5%;
	text-align: justify;
	line-height: 24px;
	margin-top: 30px;
	margin-bottom: 15px;
	color: #B3B3B3;
}
.right_article {
	width: 40%;
	float: left;
	background-color: #F6F6F6;
}
.container .right_article ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.right_article ul li {
	font-family: "Source Sans Pro";
	list-style: none;
	text-align: center;
	background-color: #B3B3B3;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 0px;
	transition: all 0.3s linear;
	border-left: 5px solid #717070;
}
.right_article ul li:hover {
	background-color: #717070;
	cursor: pointer;
}
.footer {
	background-color: #717070;
}
.title {
	font-weight: bold;
	font-style: normal;
	font-family: "Source Sans Pro";
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 2px;
}
.placeholder {
	/* [disabled]max-width: 400px;
*/
	/* [disabled]max-height: 200px;
*/
	width: 100%;
	padding-top: 30px;
	/* [disabled]padding-left: 19px;
*/
	padding-bottom: 30px;
	height: 100%;
}
.left_half {
	background-color: #52BAD5;
}
.container .column_half.left_half h2 {
	color: #FFFFFF;
	font-family: "Source Sans Pro";
	text-align: center;
}
.right_half {
	background-color: #01B2D1;
	color: #FFFFFF;
	font-family: "Source Sans Pro";
	text-align: center;
	font-weight: bold;
}
.column_title {
	padding-top: 25px;
	padding-bottom: 25px;
}
.copyright {
	text-align: center;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	font-family: "Source Sans Pro";
}
body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

@media (max-width: 320px) {
.secondary_header ul li {
	float: none;
	margin-top: 28px;
	margin-left: 0px;
	width: 100%;
}
.container .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 40px;
}
.left_article {
	width: 100%;
	height: auto;
}
.right_article {
	width: 100%;
	height: auto;
}
.placeholder {
	width: 100%;
	margin-top: 22PX;
	margin-right: 0px;
	margin-bottom: 22PX;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	max-width: 400px;
	max-height: 200px;
	height: auto;
}
.columns {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0PX;
	padding-right: 0PX;
	padding-bottom: 0PX;
	padding-left: 0PX;
}
.columns p {
	padding-left: 10px;
	padding-right: 10px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}
.copyright {
	padding-top: 25px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.container .left_article h3 {
	margin-top: 30px;
}
.social .social_icon img {
	width: 80%;
}
.container .secondary_header {
}
}

@media (min-width: 321px) and (max-width: 768px) {
.secondary_header ul li {
	float: none;
	margin-top: 28px;
	margin-left: 0px;
	width: 100%;
}
.container .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 40px;
}
.left_article {
	width: 100%;
	height: auto;
}
.right_article {
	width: 100%;
	height: auto;
	padding-bottom: 25px;
}
.placeholder {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}
.columns {
	width: 100%;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.columns p {
	padding-left: 14px;
	padding-right: 14px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}
}

@media (min-width: 769px) and (max-width: 1000px) {
.secondary_header {
	overflow: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
.secondary_header ul li {
	margin-top: 10px;
	margin-right: 7%;
	margin-bottom: 10px;
	margin-left: 7%;
}
.left_article {
	height: auto;
}
.right_article {
	height: auto;
	padding-bottom: 27px;
}
.placeholder {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.columns {
	width: 50%;
	float: left;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.container .columns p {
	padding-left: 25px;
	padding-right: 25px;
}
}

@media (min-width: 1001px) {
}

.smallicon {
  width: 18px;
  height: 18px;
  margin-right: 16px;
  margin-left: 10%;
  float:left;
}

.dlicon {
  width: 18px; height: 18px;
  margin: 0 15 0 15;
  float:right;
}

.coinicon {
  width: 15px; height: 15px;
  margin: 0 5 0 5;
  float:none;
}

.thumbnail {
  background-color:#ffffff ;
	width: 150px;
	border-radius: 10px;
	height: 120px;
	margin-left: auto;
  margin-top: 4;
}
.thumbnail_align {
	text-align: center;
}
.social {
	text-align: center;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	background-color: #414141;
	clear: both;
	overflow: auto;
}
.social_icon {
	width: 25%;
	text-align: center;
	float: left;
	transition: all 0.3s linear;
	line-height: 0px;
	padding-top: 7px;
}
.container .social .social_icon:hover {
	cursor: pointer;
	opacity: 0.5;
}
#menu {
}

/* Search Bar */

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #ffffff;
}

form.example button {
    float: left;
    width: 10%;
    margin: 8 0 0 50;
    padding: 10px;
    background: #b31b1b;
    color: white;
    font-size: 20px;
    border: 1px solid grey;
    cursor: pointer;
}

form.example button:hover {
    background: #991b1b;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

input[type=text], select {
    width: 30%;
    padding: 10 50 10 10;
    font-size: 13px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    float: right;
    width: 15%;
    margin: 8 0 0 50;
    padding: 10px;
    background: #b31b1b;
    color: white;
    font-size: 20px;
    border: 1px solid grey;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
} */
